.header-container{
    text-align: center;
    background-color: rgb(111, 0, 255);
    margin-top: 0px;
    color:white;
    padding: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

}
.header-title{
    margin-bottom: 80px;
    text-align: center;
    color: white;
}
.count{
    color:rgb(250, 250, 250)
}